* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 120%;
	background: #F8F8FF;
	text-align:center;
}

.wrapper {
	margin-left:22%;
	margin-right:22%;
}

.header {
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.content {
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

#canvas {
	margin-top:20px;
	width:85%;
}

.padding-block {
	display:block;
	margin-top:30px;
}
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  table {
	  border:0;
  }
  table td, table th {
	  padding:5px;
  }
  table td {
	  border-right: 1px solid lightgrey;
  }
  table td:last-child {
	  border:0;
  }
  table tr:first-child {
	  background:#395E60;
	  color:white;
  }
  table th {
	  font-weight:normal;
  }
.input-group {
	margin: 25px 0px 25px 0px;
}

.input-group label {
	display: inline-block;
	text-align: left;
	margin: 3px;
	margin-right:15px;
	font-weight:bold;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group .datepicker {
	display:inline-block;
	width:auto;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

/* MENU */

.menu {
	display:block;
	text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-size:80%;
	background-color:#5F9EA0;
	border-left:1px solid #B0C4DE;
	border-right:1px solid #B0C4DE;
}

.menu li {
	display:inline-block;
}


.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
	border-radius: 10px 10px 0px 0px;
	transition: background .2s ease-in-out;
}

li a:hover:not(.active) {
    background-color: #395E60;
	color:white;
}

.active {
    background-color: #4CAF50;
}



/* DROPDOWN/SELECT MENU */
.dropbtn {
    background-color: #5F9EA0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #333;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}


@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
	
}



/* Small devices (768px and down) */
@media (max-width: 768px) {
.wrapper {
	margin-left:0;
	margin-right:0;
	}
.menu li {
	display:block;
}

.header, .menu, .content {
	border:0;
	margin:0;
	border-radius:0;
}

  table td, table th {
	  padding:0px;
	  font-size:70%;
  }
}
/* Medium devices (768px and up) */
@media (min-width: 768px) {
.wrapper {
	margin-left:10%;
	margin-right:10%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.wrapper {
	margin-left:25%;
	margin-right:25%;
	}
}

@media print {
.menu { display:none;}
.header { color:black; background:white;}	
body { background:white; }
}